project2mule/src/main/app/twilio.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
		xmlns:json="http://www.mulesoft.org/schema/mule/json" 
		xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio" 
		xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
		xmlns:http="http://www.mulesoft.org/schema/mule/http"
		xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
		xmlns="http://www.mulesoft.org/schema/mule/core"
		xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/twilio http://www.mulesoft.org/schema/mule/twilio/current/mule-twilio.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <twilio:config name="Twilio__Basic_Authentication1" username="AC6e93abc22bc13f1df51653f2dd26fbbc" password="073b9c169b7f0ace4740524af65bf93d" doc:name="Twilio: Basic Authentication"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="project_2Flow1">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/send/{toNumber}" doc:name="HTTP" metadata:id="e3d8057b-f69a-40e4-8cd1-5c5d4fd9082f"/>
        <set-variable variableName="eventName" value="Test Event" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	from: "${fromNumber}",
	to: inboundProperties."http.uri.params".toNumber,
	body: "from mule+" ++ flowVars.eventName
} as :object{
	class:"org.mule.modules.twilio.pojo.sendmessagerequest.MessageInput"
}]]></dw:set-payload>
        </dw:transform-message>
        <twilio:send-message config-ref="Twilio__Basic_Authentication1" AccountSid="${twilio.accountSid}" doc:name="Twilio" />
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>